.product {
  display: flex;
  margin: auto;
  background: #FFFFFF;
  flex-direction: column;
  object-fit: cover;
  max-width: 583px;
  max-height: 527px;
  border: 1.08px solid #E4E4E4;
  box-sizing: border-box;
  box-shadow: 0px 5px 15px rgba(121, 121, 121, 0.0527344);
  border-radius: 4.32px;
}

.product__image {
  max-width: 576px;
  height: 274px;
  border-radius: 4.32px 4.32px 0px 0px;
}

.product__content {
  padding: 0 19px;
  display: flex;
  flex-direction: column;
}

.product__title {
  font-family: 'Helvetica', sans-serif, Arial;
  font-size: 18.36px;
  line-height: 21px;

  color: #373738;
}

.product__content_header {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  border-bottom: 2px solid rgba(151, 151, 151, 0.166439);
}

.product__updated {
  font-size: 14.04px;
  color: #9D9D9D;
  padding-left: 5px;
}

.product_details {
  display: flex;
  align-items: center;
}

.product__location_name {
  padding-left: 10px;
  font-size: 14.04px;
  color: rgba(123, 123, 123, 0.776523);
}

.product__location {
  padding-top: 10px;
}

.product__description {
  padding-top: 12px;
  font-size: 14.04px;
  line-height: 24px;

  color: #2B2B2B;
}