.header_container {
  display: flex;
  width: 100%;
  background: linear-gradient(180deg, #090810 0%, #171236 100%);
  padding: 0 137px;
}

.header_inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: auto;
  max-width: 1184px;
  padding-top: 18px;
}

.navigation_button__sell {
  background-color: #349A89;
  border-radius: 4px;
  margin-right: 33px;
  border: none;
  font-size: 14px;
  line-height: 31px;
  padding: 0 50px;
  color: #fff;
}

.navigation_button__login {
  border: none;
  background-color: #F2F2F2;
  color: #2B2B2B;
  font-size: 14px;
  line-height: 40px;
  margin-right: 40px;
}

.navigation_button__heart_icon {
  background-color: transparent;
  border: none;
  margin-left: 37px;

  img {
    line-height: 0;
    padding-top: 5px;
  }
}

.inbox{
  border: none;
  margin-right: 18px;
  background-color: transparent;
}

.right {
  display: flex;
}