.avatar_wrapper {
  border-radius: 50%;
  height: 40px;
  width: 38px;
  background-color: #F1C40F;
  display: flex;
}

.user_initials {
  margin: auto;
  font-size: 14px;
}

.right {
  display: flex;
}